<!DOCTYPE html>
<html>
<head>
    <title>Upload Capture</title>
</head>
<body>
    <h1>Upload Photo and Video</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div>
            {{ form.photo.label_tag }}
            {{ form.photo }}
            {% if form.photo.errors %}
                <div style="color: red;">{{ form.photo.errors }}</div>
            {% endif %}
        </div>

        <div>
            {{ form.video.label_tag }}
            {{ form.video }}
            {% if form.video.errors %}
                <div style="color: red;">{{ form.video.errors }}</div>
            {% endif %}
        </div>

        <div>
            {{ form.weapon_name.label_tag }}
            {{ form.weapon_name }}
            {% if form.weapon_name.errors %}
                <div style="color: red;">{{ form.weapon_name.errors }}</div>
            {% endif %}
        </div>

        <div>
            {{ form.weapon_number.label_tag }}
            {{ form.weapon_number }}
            {% if form.weapon_number.errors %}
                <div style="color: red;">{{ form.weapon_number.errors }}</div>
            {% endif %}
        </div>
        
        <button type="submit">Upload</button>
    </form>

    <a href="{% url 'capture_list' %}">View All Captures</a>
</body>
</html>
